!!
! [~/.Xresources ]
!!

!! Mouse cursor
Xcursor.theme: Vanilla-DMZ

!! Font rendering
Xft.antialias:          1
Xft.autohint:           0
Xft.dpi:                96
Xft.hinting:            1
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

!! URxvt
URxvt*font:             xft:tewi:medium:pixelsize=8, xft:tewi:medium:pixelsize=8
URxvt*Font:             xft:tewi:medium:pixelsize=8, xft:tewi:medium:pixelsize=8
URxvt*boldFont:         xft:tewi:medium:pixelsize=8, xft:tewi:bold:pixelsize=8
URxvt*BoldFont:         xft:tewi:medium:pixelsize=8, xft:tewi:bold:pixelsize=8
URxvt.scrollstyle:      plain
URxvt.scrollBar:        false
URxvt.scrollBar_right:  true
URxvt.scrollColor:      #2B2B2B
URxvt.cursorUnderline:  true
URxvt.internalBorder:   5
!URxvt.depth:            32
!URxvt.letterSpace:      1

!! Extensions
URxvt.perl-ext-common:      url-select
URxvt.keysym.M-u:           perl: url-select:select_next
URxvt.url-select.autocopy:  false
URxvt.url-select.button:    3
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true

!! Colorscheme
#include "/home/tbck/.colors/julie"

