snippet /*== "Heading comment"
/* ==========================================================================
   $0
   ========================================================================== */
endsnippet

snippet /*= "Sub-heading comment"
/* $0
   ========================================================================== */
endsnippet

snippet /** "Block comment"
/**
 * $0
 */
endsnippet

snippet /* "Comment"
/* $0 */
endsnippet

